@font-face {
  font-family: Integral CF;
  src: url('../fonts/IntegralCF-Medium.otf');
}

@font-face {
  font-family: Grape Days;
  src: url(../fonts/Grape.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Integral CF;

}


/* -------------------- HEADER ----------------------- */

.header {
  background-color: #F4F0AE;
  width: 100%;
  z-index: 10000;
}

.navbar {
  width: 100%;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_div_links {
  display: none;
}

.navbar_logo {
  height: 51px;
}

.navbar_div_tickets {
  text-align: center;
  border-radius: 6px;
  border: 3px solid #000;
  padding: 1px 18px 3px;
}

.navbar_buy_tickets {
  color: black;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

/*------------ TEXTO EN MOVIMIENTO -----------*/

.marquee {
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  background-color: #000;
}

.marquee li {
  font-size: 18px;
}

.marquee__content {
  z-index: 10000;
  display: flex;
  list-style: none;
  animation: scrollingg 100s linear infinite;
}

.marquee__item {
  z-index: 100000;
  flex-shrink: 0;
  margin: 2px 5px 6px;
  color: white;
}

@keyframes scrollingg {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-2000%)
  }
}

/*-----------------------------------------------*/

/* -------------------- FIRST SECTION ------------------- */

.main {
  background: #5B3420;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.first_section {
  background: url('../media/img/background_main.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.div_first_section_one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img_main_section {
  width: 90%;
}

.img_main_section_two {
  width: 100px;
  margin: -14px 0 60px 20px;
}

.div_first_section_two {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.sub_div_first_section_two {
  width: 90%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 31px;
  border: 5px solid #3A3A3A;
  background-color: #F4F0AE;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(3.5px);
  text-align: center;
}

.first_section_date {
  margin: 0px 0 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
}

.first_section_ticket {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 10px 50px;
  background-color: #E5E4E3;
  border-radius: 10px;
}

.img_pjs_1,
.img_pjs_2 {
  display: none;
}

/*---------------- Countdown ---------------*/

.div_countdown {
  width: 100%;
}

#countdown {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.simply-section {
  color: rgb(0, 0, 0);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.simply-amount {
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.simply-word {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
}

/*--------------------------------------------*/

/* -------- SECOND SECTION ---------- */

.second_section {
  margin-top: 0px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.second_section_title {
  color: #FFF;
  font-family: Grape Days;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5.34px;
  text-align: center;
}

.div_second_section {
  color: black;
  border-radius: 30px;
  background: #D9D9D9;
  border: 5px solid #000;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(3.5px);
  padding: 20px;
  z-index: 10000000;
}

.a_link_tickets {
  color: rgb(0, 0, 0);
  text-align: center;
  z-index: 10000;
  text-decoration: none;
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  padding: 10px 50px;
  margin-top: -20px;
  border-radius: 13px;
  border: 4px solid #000;
  background: #F4F0AE;
}

.pj_alone {
  width: 80%;
  z-index: 10;
  margin: -20px 0 0px;
}

.second_section_img {
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
}


/* ---------------- THIRD SECTION ------------- */


.third_section {
  margin-top: 50px;
  background: url('../media/img/background_green.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  padding: 0 0 40px;
}

.third_section_title {
  color: #FFF;
  font-family: Grape Days;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5.34px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  left: 0;
  right: 0;
  text-align: center;
}

.background_actividades {
  width: 100%;
}

.third_section_img {
  width: 100%;
}


.marqueee {
  width: 100%;
  z-index: 1000;
  overflow: hidden;
}

.marqueee li {
  font-size: 18px;
}

.marquee__contentt {
  z-index: 10000;
  display: flex;
  list-style: none;
  animation: scrolling 100s linear infinite;
}

.marquee__itemm {
  z-index: 100000;
  flex-shrink: 0;
  margin: 2px 5px 6px;
  color: white;
}

@keyframes scrolling {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-2000%)
  }
}

.img_perchas{
  height: 300px;
}


/* ------------- FOURTH SECTION ----------------- */


.fourth_section_main {
  background: url('../media/img/background_main.png');
  background-repeat: repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.pero2{
  display: none;
}

.img_background_line {
  width: 100%;
}

.fourth_section {
  margin: 30px 0;
  width: 90%;
}

.fourth_section_title {
  color: #FFF;
  font-family: Grape Days;
  font-size: 45px;
  margin: 40px 0 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5.34px;
  text-align: center;
}

.div_fourth_section {
  border-radius: 39px;
  background: #FF7618;
  padding: 40px;
  display: flex;
  flex-direction: column;
}



/* ------------- FIFTH SECTION ----------------- */

.fifth_section {
  margin-top: 50px;
  width: 90%;

}

.fifth_section_title {
  text-align: center;
  color: #FFF;
  font-family: Grape Days;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5.34px;
}

.fifth_section_sub_title {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 20px;
}

/*------------------- FAQ -----------------------*/

.faq-container {
  margin: 0 auto;
  font-family: 'cairo', serif;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-question {
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease;
  border-radius: 5px 5px 0 0;
  border: 1px solid white;
}

.faq-question.active {
  color: #fff;
}

.faq-answer {
  display: none;
  background-color: #e6e6e6;
  padding: 10px;
  color: #000;
  overflow: hidden;
  border-radius: 0 0 5px 5px;
}

.faq-answer.active {
  display: block;
}

.faq-icon {
  font-weight: bold;
  width: 20px;
  height: 20px;
  transition: transform 0.5s ease;
}

.faq-icon.minus {
  transform: rotate(180deg);
}

.fifth_section_icon {
  width: 20px;
  height: 20px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.faq-answer:not(.active) {
  height: 0 !important;
}


/*-----------------------------------------------*/

/*---------------- SLIDER and sixth section -----------------*/

/* .sixth_section {
  width: 90%;
  margin-top: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #000;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 80px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  animation: scroll 4000s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.sixth_section_img_slider {
  height: 100px;
  width: 250px;
} */

/* ---------- seventh section ------------- */

.seventh_section {
  margin-top: 100px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 31px;
  border: 5px solid #000;
  background: #09431E;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.25) inset;
  backdrop-filter: blur(3.5px);
  padding: 20px 0;
}

.div_seventh_section {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin: -80px 0 20px; */
}

.seventh_section_img {
  width: 350px;
  /* margin: -40px 0 -20px; */
}

.seventh_section_link {
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 50px;
  margin-top: -20px;
  border-radius: 13px;
  border: 4px solid #000;
  background: #F4F0AE;
}

/* --------------------------------------- */

/* ----------------- FOOTER --------------- */

.footer {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 8%;
}

.d-flex {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.footer_img_main {
  margin: -50px 0;
  width: 150px;
}

.footer_contact_icon {
  width: 30px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.sub_div_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sub_div_footer_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mini_div_footer_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_links {
  color: white;
  text-decoration: underline;
  font-size: 14px;
  font-family: Roboto;
  text-transform: uppercase;
  margin: 2px 0;
  font-weight: 300;
}


.footer_contact_text {
  margin-left: 10px;
  color: white;
  font-size: 14px;
  font-family: Roboto;
  text-transform: uppercase;
  font-weight: 300;
  width: 200px;
}

.footer_title {
  color: white;
  margin: 20px 0 10px;
}

@media only screen and (min-width: 600px) {

  /* -------------------- FIRST SECTION ------------------- */

  .div_countdown {
    width: auto;
  }

  .first_section {
    width: 100%;
  }

  .img_main_section {
    width: 80%;
  }

  .img_main_section_two {
    width: 120px;
  }

  .sub_div_first_section_two {
    height: 220px;
  }

  .marquee__content {
    z-index: 10000;
    display: flex;
    list-style: none;
    animation: scrollingg 10s linear infinite;
  }
  
  .marquee__item {
    z-index: 100000;
    flex-shrink: 0;
    margin: 2px 5px 6px;
    color: white;
  }
  
  @keyframes scrollingg {
    0% {
      transform: translateX(0)
    }
  
    100% {
      transform: translateX(-100%)
    }
  }

  /*---------------- Countdown ---------------*/

  #countdown {
    width: 500px;
  }

  .simply-section {
    padding: 50px;
    background: url(../media/img/circle_dot.svg);
    background-repeat: no-repeat;
    background-position: center;
  }


  /* second section */

  .pj_alone {
    width: 80%;
    z-index: 10;
    margin: -30px 0 0px;
  }


  /* third section */

  .third_section {
    margin-top: 50px;
    background: url('../media/img/background_green.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
    padding: 0 0 40px;
  }
  
  .third_section_title {
    font-size: 40px;
    margin-top: 5%;
  }
  
  .background_actividades {
    margin-top: -40px;
  }
  
  .third_section_img {
    width: 100%;
  }
  
  .marqueee {
    width: 100%;
  }
  
  .marquee__itemm {
    z-index: 100000;
    flex-shrink: 0;
    margin: 2px 5px 6px;
    color: white;
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(0)
    }
  
    100% {
      transform: translateX(-100%)
    }
  }
  

  /* four section */



  .div_fourth_section {
    display: flex;
    flex-direction: column;
  }

  .mini_div_1_line_up,
  .mini_div_2_line_up,
  .second_div_line_up {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
  }

  .img_line_up_a {
    width: 48%;
  }

  .img_line_up {
    width: 100%;

  }

}

@media only screen and (min-width: 900px) {

  /* ---------------- HEADER ---------------- */

  .mega_div_navbar {
    display: flex;
    justify-content: space-between;
  }

  .navbar_div_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    margin-right: 20px;
  }

  .a_links_navbar {
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* -------------------- FIRST SECTION ------------------- */

  .img_main_section {
    width: 40%;
  }

  .img_main_section_two {
    width: 200px;
    margin: -10px 0 40px 10px;
  }

  .sub_div_first_section_two {
    height: 217px;
    flex-direction: row;
    width: 600px;
  }

  /*---------------- Countdown ---------------*/

  #countdown {
    width: 500px;
  }

  .simply-section {
    padding: 50px;
    background: url(../media/img/circle_dot.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  /* SECOND SECTION */

  .second_section {
    width: 82%;
  }

  .div_second_section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .second_section_text {
    width: 80%;
    font-size: 24px;
  }

  .second_section_img {
    width: 300px;
    margin: 0;
  }


  .pj_alone {
    width: 80%;
    z-index: 10;
    margin: -40px 0 0px;
  }


  .a_link_tickets {
    color: rgb(0, 0, 0);
    border-radius: 33px;
    text-align: center;
    z-index: 10000;
    text-decoration: none;
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    padding: 20px 100px;
    margin-top: -0px;
  }

  /* ------- THIRD SECTION ---------- */

  .third_section_title {
    font-size: 3rem;
    margin-top: 2%;
  }
  
  .background_actividades {
    width: 100%;
    margin-top: -100px;
  }
  
  .third_section_img {
    width: 100%;
  }
  
  .marquee__contentt {
    z-index: 10000;
    display: flex;
    list-style: none;
    animation: scrolling 100s linear infinite;
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(0)
    }
  
    100% {
      transform: translateX(-2000%)
    }
  }
  
  .img_perchas{
    height: 500px;
  }

  /* cuatrp */

  .pero1{
    display: none;

  }

  .pero2{
    display: block;
  }
  

  /* --------- FOURTH SECTION ---------- */

  .fourth_section {
    width: 82%;
  }

  #fourth_section_margin {
    margin: 40px 0;
  }

  .div_fourth_section {
    justify-content: space-around;
  }

  .fourth_section_img {
    margin: 40px 0;
    width: 40%;
  }


  .mini_div_1_line_up {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
    width: 100%;
  }

  .mini_div_2_line_up {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .firts_div_line_up {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }


  .img_line_up {
    width: 90%;
  }

  .img_line_up_a {
    width: 90%;
  }


  /* ---------- FIVFTH SECTION ---------- */

  .fifth_section {
    width: 82%;

  }

  .div_fifth_section {
    display: flex;
    justify-content: space-between;
  }

  .faq-container {
    width: 49%;
    margin: 0;
  }

  /*---------------- SLIDER and sixth section -----------------*/

  .sixth_section {
    width: 82%;
  }

  .slider::before,
  .slider::after {
    width: 180px;
  }

  /* ---------- seventh section ------------- */

  .seventh_section {
    width: 82%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 160px;
  }

  .div_seventh_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: -80px 0 20px; */
  }

  .seventh_section_img {
    margin: -100px 0;
    width: 500px;
  }

  /* --------------------------------------- */

  /* ----------------- FOOTER --------------- */

  .footer {
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 40px 10%;
  }

  .div_footer {
    display: flex;
    align-items: start;
  }

  .d-flex {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .footer_img_main {
    /* margin: -200px 0 0 0; */
    width: 150px;
  }

  .footer_contact_icon {
    width: 30px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  .sub_div_footer {
    align-items: start;
    margin: 0 20px 0 0;
  }

  .sub_div_footer_2 {
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .mini_div_footer_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer_links {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: Roboto;
    text-align: start;
    text-transform: uppercase;
    margin: 5px 0;
    font-weight: 300;
  }


  .footer_contact_text {
    margin-left: 10px;
    text-align: start;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    text-transform: uppercase;
    font-weight: 300;
    width: 200px;
  }

  .footer_title {
    color: white;
    margin: 0px 0 10px;
  }

}

@media only screen and (min-width: 1050px) {

  /* FIRST SECTION */


  .div_first_section {
    display: flex;
    justify-content: center;
    margin-top: -60px;
  }

  .div_first_section_two {
    margin: 50px 0 0;
  }

  .img_main_section {
    margin-top: 80px;
    width: 100%;
    z-index: 100;
  }

  .img_pjs_1 {
    transform: scale(1.3);
    display: block;
    position: absolute;
    width: 400px;
    left: 0px;
    margin-top: 140px;
  }

  .img_pjs_2 {
    display: block;
    position: absolute;
    width: 400px;
    margin-top: 80px;
    right: 10PX;
  }

  .a_link_tickets {
    font-size: 50px;
    border: 10px solid #000;
    padding: 30px 250px;
    margin-top: -0px;
  }

  /* second section  */

  .pj_alone {
    width: 80%;
    z-index: 10;
    margin: -50px 0 0px;
  }

  /* third section */

  .third_section_title {
    font-size: 3.4rem;
    margin-top: 4%;
  }
  
  .background_actividades {
    width: 100%;
    margin-top: -100px;
  }

  /* SEVENTH SECTION */

  .seventh_section {
    width: 82%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
    margin-top: 160px;
  }

  .div_seventh_section {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin: -80px 0 20px; */
  }

  .seventh_section_img {
    /* margin: -50px 0 -40px 0; */
    width: 550px;
  }

  .seventh_section_link {
    padding: 10px 90px;
    font-size: 24px;
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1700px) {

  /* FIRST SECTION */

  .img_pjs_1 {
    transform: scale(1.3);
    display: block;
    position: absolute;
    width: 540px;
    left: 100px;
    margin-top: 100px;
  }

  .img_pjs_2 {
    display: block;
    position: absolute;
    width: 500px;
    margin-top: 80px;
    right: 120PX;
  }

  .pj_alone {
    width: 80%;
    z-index: 10;
    margin: -60px 0px 0px -60px;
  }

  /* third section */

    /* third section */

    .third_section_title {
      font-size: 7.7rem;
      margin-top: 2.2%;
    }
    
    .background_actividades {
      width: 100%;
      margin-top: -150px;
    }

    /*  */

    .seventh_section_link {
      padding: 20px 100px;
      font-size: 30px;
      border-radius: 10px;
    }
}